@model gestor_eventos.Pages.Reservas.IndexModel
<div class="modal fade" id="selectServiceModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="bi bi-basket me-2"></i>Seleccionar Servicios</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Buscar servicios...">
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th style="width: 50px;"></th>
                                <th>Servicio</th>
                                <th>Descripción</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="service1">
                                    </div>
                                </td>
                                <td>Salón Principal</td>
                                <td>Salón con capacidad para 200 personas</td>
                                <td>$250,000</td>
                                <td>
                                    <input type="number" class="form-control form-control-sm" value="1" min="1" style="width: 70px">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="service2">
                                    </div>
                                </td>
                                <td>Catering Premium</td>
                                <td>Menú gourmet por persona</td>
                                <td>$15,000</td>
                                <td>
                                    <input type="number" class="form-control form-control-sm" value="1" min="1" style="width: 70px">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="service3">
                                    </div>
                                </td>
                                <td>DJ</td>
                                <td>DJ profesional con equipo completo</td>
                                <td>$120,000</td>
                                <td>
                                    <input type="number" class="form-control form-control-sm" value="1" min="1" style="width: 70px">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="service4">
                                    </div>
                                </td>
                                <td>Decoración Básica</td>
                                <td>Decoración estándar del salón</td>
                                <td>$80,000</td>
                                <td>
                                    <input type="number" class="form-control form-control-sm" value="1" min="1" style="width: 70px">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="service5">
                                    </div>
                                </td>
                                <td>Fotografía</td>
                                <td>Servicio de fotografía profesional</td>
                                <td>$150,000</td>
                                <td>
                                    <input type="number" class="form-control form-control-sm" value="1" min="1" style="width: 70px">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                    <i class="bi bi-check-lg me-1"></i>Añadir Seleccionados
                </button>
            </div>
        </div>
    </div>
</div>